body{
    background-image: url(sky.jpg);
    overflow: hidden;
}
.text{
    display: flex;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-left: 400px;
}
.text1{
    background-color:orangered ;
}
.text2{
    background-color: white;
    margin-left: 10px;
}
.text3{
    background-color: green;
    margin-left: 10px;
}
.road{
    position:absolute;
    background-image: url(road.jpg);
    width:50000px;
    height:40000px;
    top:550px;
    bottom:20px;
    filter: brightness(70%);
    animation-name: road;
    background-repeat: repeat-x;
    animation-duration: 40s;
    animation-timing-function:linear ;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes road{
    100%{
        transform: translate(-30000px);
    }
}
.city{
    background-image: url(city.png);
    filter: brightness(100%);
    width:50000px;
    height:40000px;
   top:300px;
    position: absolute;
    animation-name: road;
    animation-duration: 40s;
    background-repeat: repeat-x;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes city{
    100%{
        transform: translate(-30000px);
    }
}
.car{
    position: absolute;
    bottom:110px;
    height: 150px;
    /*animation-duration: 40s;
    animation-name: ;
    animation-timing-function: linear;*/
}
.backwheel{
    position: absolute;
    /*width:100px;
    height:100px;*/
    top:550px;
    left:50px;
    z-index: 5;
    animation-timing-function:linear ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction:normal ;
    animation-name: backwheel;
    animation-fill-mode: none;
    animation-delay: 1s;
    animation-play-state: running;
}
@keyframes backwheel{
    100%{
        transform: rotate(360deg);
    }
}
.frontwheel{
    position: absolute;
    top:550px;
    left:660px;
    z-index: 5;
    animation-timing-function:linear ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction:normal ;
    animation-name: frontwheel;
    animation-fill-mode: none;
    animation-delay: 1s;
    animation-play-state: running;
}
@keyframes frontwheel{
    100%{
        transform: rotate(360deg);
    }
}
.back{
    color:red;
    font-size: 30px;
    text-decoration: underline;
}
/*.flag{
    top:420px;
    left:760px;
    position:absolute;
    background-color:chartreuse;
}*/
.sun{
    width:15vw;
    height:15vh;
   
}

      